:root{
    --SidebarColour: #2A3840; 
    --HeaderColour: #1F3B4D;
    --FooterColour: black;
    --CardColour: #517388;
    
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh
}

.mainFrame{
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 50px 1fr;
    grid-template-areas:    "header header"
                            "sidebar content"
                            "footer footer";
}

.HeaderFrame{
    display: grid;
    grid-area: header;
    background-color: var(--HeaderColour);
    box-shadow: 0px 5px 10px grey;
    align-content: center;
    padding-left: 20px;
    color: white;
    font-weight: 900;
    font-size: 1.5em;
}

.FooterFrame{
    grid-area: footer;
    box-shadow: 0px -1px 5px grey;
    background-color: var(--FooterColour);
    color: white;
    align-content: end;
    text-align: center;
}

.ContentFrame{
    padding: 20px;
    grid-area: content;
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    overflow: auto;
    align-content: flex-start;
}

.SidebarFrame{
    padding-top: 10px;
    display: grid;
    justify-content: center;
    grid-area: sidebar;
    background-color: var(--SidebarColour);
}

.ToDoCard{
    padding: 8px;
    border-radius: 8px;
    background-color: var(--CardColour);
    min-width: 180px;
    max-width: 280px;
    max-height: 200px;
    min-height: 150px;
    font-size: 1em; 

    display: grid;
    grid-template-rows: 1fr 50px;
}

.CardStatusRow{
display: flex;
justify-content: space-between;
align-content: end;
gap: 4px;
grid-row: 2 3;
max-height: 30px;
}


.CardStatusHeading{
    background-color: grey;
    width: 100px;
    font-size: small;
    font-weight: 900;
    padding: 5px;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
}




.CardTitleRow,
.CardDescriptionRow{
    display: grid;
    align-content: flex-start;
}

.CardDescHeading,
.CardHeading{
    width: fit-content;
    font-weight: 900;
    height: fit-content;
}
